*{
	margin: 0px;
	padding: 0px;
}

body{
	text-align:center;
}
.nearbyPlugPage{
	width:480px;margin:0 auto;background: #FFF;text-align:left;
}

/*顶部导航条*/
.header{
	background-color:#1E90FF;
	width:100%;
	box-shadow:1px 2px 5px rgba(0,0,0,0.26);
	top:0;
	left:0;
	right:0;
}

.header .header_content{
	text-align:left;
	font-size:large;
	font-family:微软雅黑;
	padding:15px;           		/*内边距*/
	color:aliceblue;

}

#header_scan{
	float:right;
	vertical-align:middle;
	border:none;
	width:30px;
	height:30px;
}

.research{
	border:solid 2px #FFFFFF; height:30px; width:150px; line-height:30px;
	font-size:14px; -moz-border-radius:15px;-webkit-border-radius:15px; border-radius:15px;
	position:absolute; right:20px;top:13px;
	text-align:center;left:55%;
}

input{
	padding:0; margin:0; border:none;background:none;
}

.text{
	width:100px; height:90%;
}

.btnSubmit{
	width:30px; height:95%; 
	font-size: 15px;
	color: white;
	background-color: #1E90FF;
	border-style: none;
}


/*页面主体内容*/
.main{
	background-color: #F0F0F0;
	height:100%;
}

a{
	text-decoration:none;
}

.socket{
	padding:3px;
	margin:0px;
	margin-left:2px;
	list-style-type:none;
}

img{
	display:inline-table;
	vertical-align:middle;
}

.list{
	padding:5px;
	margin-top:5px;
    display:block;
	height:50px;
	line-height:50px;
	margin-bottom:5px;
	background-color:#FFF;
}

.location{
	display:inline-block;
	text-indent:1em;
	letter-spacing:3px;
	font-weight:200;
	font-size:20px;
	font-family:楷体;
	color:#000
}
	
.usual{
	float: right;
	padding-right:10px;
	letter-spacing:3px;
	font-size:14px;
	color: #36F;
}

.distance{
	float:right;
	font-size:17px;
	font-weight:200;
	color:#000;
}

.pageRefresh{
	position:fixed;
	width:50px;
    height:50px;
    left:50%;
	bottom:100px;
    margin-left:-25px;
    margin-top:-25px ;
}
	
	
/*底部导航条*/
#bottom{
	background-color:#FFFFFF;
	box-shadow:1px 2px 5px rgba(0,0,0,0.26);	/*向框添加一个个阴影*/
    margin:0 auto;
	width:480px;
    position:fixed;					/*固定导航栏*/
    bottom:0;					/*置于底部*/
    left:auto; 
    right:auto; 
}

#bottom ul
{
	list-style-type: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
}

#bottom li
{
	height:30px;
	width:33.333%;
	float:left;
}

#bottom a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	border-top:3px solid #C0C0C0;/*设置银色上边框*/
}

#bottom a:hover,a:active
{
	border-top: 3px solid #1E90FF;/*设置蓝色上边框*/
	font-size: 20px;
}
